[Desktop Entry]
Version=1.0
Name=YouTube
Comment=YouTube
Exec=google-chrome-stable --app=https://www.youtube.com/
Terminal=false
Type=Application
Icon=youtube
StartupNotify=true
